*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/sdk/

# Machine learning models
*.tflite
*.h5
*.weights.h5

# Training data
raw_whiteboards/
whiteboard_line_crops/
iam_lines/